.project {
    height: 100%;
    display: flex;
    background-color: #eee;
    font-size: 12px;
}


/* 左边栏 */
.project-left {
    padding: 0 8px;
    box-sizing: border-box;
    width: 40px;
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: white;
    padding-top: 16px;
    position: relative;
    box-shadow: 2px 2px 2px 2px rgba(31, 50, 88, .08);
}

.project .anticon {
    padding: 6px 4px;
    display: block
}

.project .anticon:hover {
    background-color: #eee;
}

.project .anticon svg {
    cursor: pointer;
}


/* 中间 */
.project-main {
    flex: 1;
    display: flex;
    flex-direction: column;
}


/* 中间标题头 */
.project-main-header {
    height: 50px;
    margin: 0 4px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    box-shadow: 2px 2px 2px 2px rgba(31, 50, 88, .08);
}


/* 中间画布 */
.project-main-board {
    flex: 1;
    background-color: white;
    margin: 8px 16px;
    box-shadow: 2px 2px 2px 2px rgba(31, 50, 88, .08);
}

.board-container {
    display: block;
    width: 100%;
    height: fit-content;
    cursor: pointer;
}

.board-container:hover{
    border: 1px solid #1677ff;
}

.board-container-tips {
    height: 160px;
    line-height: 160px;
    text-align: center;
    color: #1677ff77;
    font-size: 20px;
    font-weight: 100;
    cursor: pointer;
    border: 1px dotted #1677ff;
}

.board-container-tips:hover {
    background-color: #1677ff11;
    border: 0;
}

.board-container-hover {
    border: 1px dotted #1677ff;
    background-color: #1677ff11;
}



/* 右侧 */
.project-right {
    background-color: white;
    box-shadow: -2px 2px 2px 2px rgba(31, 50, 88, .08);
}

.project-right-tab {
    padding: 0 10px;
}

.project-right-tab-font {
    width: 50px;
}

.line-h-22 {
    line-height: 22px;
}

.margin-left-4 {
    margin-left: 4px;
}

.project-right-tab .ant-input-number-group-addon {
    vertical-align: top;
    line-height: 19px;
}

/* 左侧选取元素 */
.element-select {
    z-index: 1;
    height: 100%;
    width: 400px;
    position: absolute;
    left: 40px;
    top: 0;
    box-shadow: 2px 2px 2px 2px rgba(31, 50, 88, .08);
    background-color: white;
    border: 1px solid #eee;
    box-sizing: border-box;
    padding: 10px;
    overflow: auto;
}

.element-item {
    width: 25%;
    height: 120px;
    display: inline-block;
    border: 1px solid hsla(0, 0%, 90.9%, .6);
    box-sizing: border-box;
    cursor: pointer;
}

.element-item:hover {
    box-shadow: 0px 7px 16px 1px rgba(0, 0, 0, 0.2);
}

.element-item .anticon:hover {
    background-color: white;
}

.element-item .anticon {
    font-size: 20px;
}

.element-item label {
    margin: 0 auto;
}