.setup-header {
    height: 60px;
    border-bottom: 1px solid #d0d0d0;
    line-height: 60px;
    padding: 0 30px;
    font-size: large;
    box-sizing: border-box;
}

.setup-header-icon {
    height: 20px;
    margin: 20px 0;
    width: 6px;
    background-color: var(--theme-color);
    display: inline-block;
    vertical-align: top;
}

.setup-header-name {
    height: 100%;
    display: inline-block;
    margin-left: 16px;
    vertical-align: top;
    font-size: 18px;
}

.setup-main{
    width: 60%;
    padding: 30px 30px;
    box-sizing: border-box;
}
