.register{
    width: 100%;
    height: 100%;
}
.register-block {
    width: 400px;
    margin: 0 auto;
    margin-top: 60px;
}

.register-title {
    font-size: 18px;
    width: 100%;
    text-align: center;
}

.register-button {
    background: var(--theme-color);
    color: white;
}
