.left {
    display: flex;
    width: fit-content;
    align-content: center;
    background-color: white;
    position: relative;
    box-shadow: 2px 2px 2px 2px rgba(31, 50, 88, .08);
    font-size: 12px;
}

.left-tab {
    width: 40px;
    padding: 0 8px;
    box-sizing: border-box;
    padding-top: 16px;
}

.element-select {
    z-index: 1;
    height: 100%;
    width: 276px;
    box-shadow: 2px 2px 2px 2px rgba(31, 50, 88, .08);
    background-color: white;
    border-left: 1px solid #eee;
    box-sizing: border-box;
    padding: 10px;
    overflow: auto;
}

.element-item {
    width: 33%;
    height: 100px;
    display: inline-block;
    border: 1px solid hsla(0, 0%, 90.9%, .6);
    box-sizing: border-box;
    cursor: pointer;
}

.element-item:hover {
    box-shadow: 0px 7px 16px 1px rgba(0, 0, 0, 0.2);
}

.left .element-item .anticon:hover {
    background-color: white;
}

.element-item .anticon {
    font-size: 20px;
}

.element-item label {
    margin: 0 auto;
}

.left .anticon {
    padding: 6px 4px;
    display: block
}

.left .anticon:hover {
    background-color: #eee;
}

.left .anticon svg {
    cursor: pointer;
}